.App {
    font-family: sans-serif;
}

#app-bar {
    text-align: center;
}

#content {
    height: 85vh;
    overflow-y: scroll; /* important */
}

#navigation {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

#list-box {
    text-align: center;
}

#preview-box {
}

.preview-area {
    padding-left: 10px;
    width: 43vw;
    margin-top: 5px;
}

.rb-write, .rb-read {
    font-size: 22px;
    margin: auto 5px;
    padding: 0 5px;
}

.rb-write {
    outline: solid 1px;
    outline-color: black;
    color: transparent;
    text-shadow: 0 0 white;
}

.rt-write, .rt-read {
    font-size: 12px;
    transform: translateY(-0.4em);
}

.rt-read {
    outline: solid 1px;
    outline-color: black;
    color: transparent;
    text-shadow: 0 0 white;
}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */

    #content {
        height: 66vh;
    }

    .text {
        font-size: 10px;
    }

    .rb-write, .rb-read {
        font-size: 14px;
    }

    .rt-write, rt-read {
        font-size: 7px;
    }
}

@media print {
    @page {
        margin: 0;
    }

    #list-box, #navigation, #app-bar {
        display: none;
    }

    #content {
        /* 印刷用にサイズを変更 */
        padding: 0mm;
        width: 210mm;
        height: 280mm;
    }

    .preview-area {
        width: 100mm;
    }

    .text {
        font-size: 14px;
    }

    .rb-write, .rb-read {
        font-size: 18px;
    }

    .rt-write, rt-read {
        font-size: 10px;
    }
}
