.App {
    font-family: sans-serif;
}

/*rt {
    border: solid 1px;
}
*/
ruby {
}

#app-bar {
    text-align: center;
}

#content {
    height: 66vh;
    overflow: scroll; /* important */
}

#navigation {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

#list-box {
    text-align: center;
}

#preview-box {
}

.preview-area {
    padding-left: 10px;
    width: 45vw;
    margin-top: 5px;
}

.text {
    font-size: 10px; /* スマホ用 */
}

@media print {
    #list-box, #navigation, #app-bar {
        display: none;
    }

    #content {
        /* 印刷用にサイズを変更 */
        padding: 0mm;
        width: 210mm;
        height: 280mm;
    }

    .preview-area {
        width: 100mm;
    }

    .text {
        font-size: 14px;
    }
}
